/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: linear-gradient(to right top, #FEA775, #D46059, #AA405B, #802B5B, #56194F, #260B2C, #010002);
    color: #fff;
    margin: 0;
}

header, nav, footer {
    background: none;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.section {
    margin-bottom: 50px;
}

h1, h2 {
    color: #FFD700; /* Golden text for headings */
}

footer {
    padding: 1rem;
    font-size: 0.8em;
}
