/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top,  #FEA775, #D46059, #AA405B, #802B5B, #56194F, #260B2C, #010002);
    color: #fff;
}

header {
    background-image: linear-gradient(to right top,  #FEA775, #D46059, #AA405B, #802B5B, #56194F, #260B2C, #010002);
    padding: 1rem;
    text-align: center;
}

nav {
    background-image: linear-gradient(to right top, #FEA775, #D46059, #AA405B, #802B5B, #56194F, #260B2C, #010002);
    padding: 0.5rem;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff; /* Sets all heading colors to white */
}

.section {
    padding: 50px 0;
}

footer {
    text-align: center;
    background-image: linear-gradient(to right top,  #FEA775, #D46059, #AA405B, #802B5B, #56194F, #260B2C, #010002);
    padding: 1rem;
}
